body {
  background-color: powderblue;
}
h1 {
  color: black;
  text-align: center;
}
h2 {
  color: green;
  margin: 10px;
}
p {
  color: red;
  margin: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 600px;
}

nav li {
  display: inline;
}

/* nav a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
} */

nav li a {
  color: black;
  text-decoration: none;
  padding: 10px;
}

nav li a:hover{
  background-color: black;
  color: white;
}

section {
 display: flex;
}

aside {
 flex: 1
}

article {
 flex: 4
}
