navbar-brand {
  border: 10px;
}

center {
  text-align: center;
}

h1 {
  text-align: center;
  margin-top: 10px;
}

body {
 background-color: #cccccc;
}

.back-image {
  background-image: url("../images/Soccer Field.jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.back-text {
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

hr.thick {
  border: 1;
  width: 100%;
  color: black;
  background-color: black;
  height: 2px;
}

hr.thin {
  border: 1;
  width: 100%;
  color: black;
  background-color: black;
  height: .01px;
}


.section {
 display: flex;
}

.section-game {
 display: flex;
 margin: 10px;
 text-align: center;
}

.section-title {
 display: flex;
 margin-top: 10px;
 margin-right: 10px;
 margin-left: 10px;
 margin-bottom: -30px;
 font-weight: bold;
 font-size: 18px;
 text-align: center;
}

.opponent {
  flex: 1;
}

.date {
  flex: 1;
}

.time {
  flex: 1;
}

.location {
  flex: 1;
}

.result {
  flex: 1;
}

.aside {
 flex: 1;
 margin: 10px;
}

.article {
 flex: 3;
 margin: 10px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: grey;
  color: white;
  text-align: center;
}

a.game-result {
  color: black;
  margin-top: -6px;
}

a.game-result:hover {
  color: blue;
  text-decoration: underline;
}

a.source {
  color: white;
  margin: -10px;
}

a {
  color: white;
}

p.game-summary {
  margin: 20px;
}
